* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.btn-primary {
  color: white;
  background-color: #ff5959;
  border: none;
  padding: 8px 12px;
  border-radius: 2px;
}

.btn-primary:hover {
  background-color: #e03e3e;
}

/* header styles */
header {
  background-image: url("header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header-items {
  width: 80%;
  margin: auto;
  padding: 80px;
}

header h1 {
  font-size: 4.5vw;
  text-transform: uppercase;
  padding: 10px;
}

.header-items h1,
p {
  display: grid;
  color: white;
  text-align: center;
  margin: auto;
}

.header-items p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5rem;
}

.btn-donate-now {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

/* main styles */
.main-donate-today {
  width: 50%;
  margin: auto;
}

.main-donate-today-title {
  margin-top: 100px;
  text-align: center;
  font-weight: bold;
}

.main-donate-today-description {
  text-align: center;
  color: #707070;
  font-size: 14px;
  margin: 10px auto 10px auto;
  width: 80%;
}

.main-donate-today ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}

.main-donate-today ul li {
  font-weight: 800;
  font-size: 20px;
  color: #707070;
  background-color: #f4f4f4;
  list-style: none;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.main-donate-today ul li:hover {
  background-color: #fcafaf;
  border: 2px solid #ff5959;
  color: #f83333;
}

.main-title-other-amount {
  font-size: 12px;
  color: #707070;
  text-align: center;
  opacity: 0.5;
  margin: 30px 0 10px 0;
}

hr {
  width: 100%;
  background-color: #707070;
  border-radius: 5px;
}

.main-donate-plan {
  width: 75%;
  margin: auto;
}

.main-donate-plan-description {
  text-align: center;
  color: #707070;
  font-size: 14px;
  margin: 10px auto 10px auto;
  width: 50%;
}

.plan-item {
  display: flex;
  justify-content: space-evenly;
}

.plan-item-box {
  padding: 20px;
  width: 30%;
  height: 30%;
  margin: 20px 0;
  border-radius: 5px;
}

.plan-item-box:nth-child(1) {
  background-color: #d2eef1;
}

.plan-item-box:nth-child(2) {
  background-color: #fadada;
}

.plan-item-box:nth-child(3) {
  background-color: #fff4d6;
}

.plan-item-box img {
  margin: 0 auto;
  display: block;
}

.plan-item-box h4 {
  color: black;
  font-weight: bold;
  text-align: center;
  margin: 15px;
}

.plan-item-box p {
  color: #707070;
  font-size: 12px;
  line-height: 1.5rem;
}

/* their lives depend on your donation */
.main-lives {
  margin-top: 100px;
}

.main-lives-group {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
}

.main-lives-left {
  width: 40%;
  padding: 10px;
  margin: auto 0;
}

.main-lives-left h1 {
  width: 90%;
  text-align: left;
}

.main-lives-left p {
  text-align: left;
  color: #707070;
  font-size: 14px;
  width: 90%;
  margin: 20px 0;
}

.main-lives-right {
  width: 40%;
  padding: 10px;
}

.main-lives-right img {
  display: grid;
  align-items: center;
  width: 100%;
  border-radius: 10px;
}

/* they need us to survive */
.main-need {
  margin-top: 100px;
}

.main-need-group {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-evenly;
}

.main-need-right {
  width: 40%;
  padding: 10px;
  margin: auto 0;
}

.main-need-left {
  width: 40%;
  padding: 10px;
}

.main-need-left img {
  display: grid;
  align-items: center;
  width: 100%;
  border-radius: 10px;
}

.main-need-right p {
  text-align: left;
  color: #707070;
  font-size: 14px;
  width: 90%;
  margin: 20px 0;
}

/* get my updates */
.main-updates {
  width: 100%;
  margin-top: 100px;
}

.main-updates-group {
  width: 50%;
  margin: auto;
  padding: 30px;
}

.main-updates-group h1 {
  text-align: center;
}

.main-updates-group p {
  color: #707070;
  text-align: center;
  font-size: 14px;
  margin: 10px 0;
  line-height: 1.4rem;
}

.email-subscribe {
  padding: 50px;
  background-color: #fff4d6;
  border-radius: 2px;
  margin: auto;
}

.input-email {
  padding: 10px;
  float: left;
}

.input-email:focus {
  outline-color: #f83333;
}

.btn-subscribe {
  padding: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  float: left;
  border-left: none;
  cursor: pointer;
  width: 20%;
}

.input-email {
  background-color: #d9d9d9;
  border: none;
  border-radius: 2px 0px 0px 2px;
  width: 40%;
  margin-left: 18%;
}

form.email-subscribe::after {
  content: "";
  clear: both;
  display: table;
}

/* footer styles */
footer {
  background-color: #0b0d17;
  color: white;
}

.footer-contact-info {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.footer-contact-info h3,
address {
  text-align: center;
  line-height: 2rem;
}

.footer-contact-info address {
  font-size: 14px;
  color: #707070;
}

/* Responsive Design */

@media only screen and (max-width: 1038px) {
  .plan-item {
    flex-direction: column;
  }

  .plan-item-box {
    padding: 20px;
    width: 50%;
    margin: 10px auto;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 623px) {
  .plan-item-box {
    padding: 20px;
    width: 70%;
    margin: 10px auto;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 460px) {
  .plan-item-box {
    padding: 20px;
    width: 80%;
    margin: 10px auto;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 738px) {
  .main-donate-today {
    width: 80%;
    margin: auto;
  }

  .main-donate-plan {
    width: 100%;
  }
}

@media only screen and (max-width: 520px) {
  .main-donate-today ul {
    display: flex;
    flex-direction: column;
  }

  .main-donate-today ul li {
    width: 100%;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 590px) {
  .main-donate-plan-description {
    width: 80%;
  }
}

@media only screen and (max-width: 1074px) {
  .main-lives-group {
    flex-direction: column;
  }

  .main-lives-left {
    margin: 0 auto;
    width: 100%;
  }

  .main-lives-right {
    margin: 20px auto;
    width: 100%;
  }

  .main-lives-left p {
    width: 100%;
  }

  .main-need-group {
    flex-direction: column;
  }

  .main-need-left {
    width: 100%;
  }

  .main-need-right {
    width: 100%;
    margin-top: 20px auto;
  }

  .main-need-right p {
    width: 100%;
  }
}

@media only screen and (max-width: 1174px) {
  .main-updates-group {
    width: 60%;
  }
}

@media only screen and (max-width: 970px) {

  .main-updates {
    width: 70%;
    margin: 0 auto;
  }

  .main-updates-group {
    width: 100%;
    margin: 0 auto;
  }

  .input-email {
    margin: 0;
    width: 60%;
    border-radius: 2px;
    margin-left: 10%;
  }

  
}

@media only screen and (max-width: 810px) {
  
  .main-updates-group {
    width: 100%;
  }

  .btn-subscribe {
    margin-top: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
    width: 100px;
  }

  .input-email {
    margin: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {

  .main-updates {
    width: 100%;
    margin: 50px 0;
  }

  .main-updates-group {
    width: 100%;
  }

}